.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.paralax {
  background-image: url("https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  z-index: 10;
  color: rgb(72, 72, 72);
}

.login-input {
  background-position: center;
}

.jumbotron {
  opacity: 0.9;
  margin-top: 10vh;

  font-family: Questrial;
  /* min-height: 400px;
  min-width: 570px; */
  /* max-height: 10000px;
  max-width: 570px; */
}

tr:hover {
  opacity: 0.5;
  color: #e25a00;
  cursor: pointer;
}

.brand-logo {
  font-family: Lobster;
  font-size: 30px;
}

.please-login {
  font-family: Lobster Two;
  font-size: 25px;
}

.btn-primary {
  color: #fff;
  background-color: #e25a00;
  border-color: #fff;
  /* margin-top: 250px; */
}

.beerTitle {
  font-family: Lobster;
  font-size: 65px;
}
.breweryTitle {
  font-family: Lobster;
  font-size: 65px;
}

.cheers-btn {
  background-color: #e25a00;
  border-radius: 50px;
}

.beerStyle {
  font-family: Lobster;
}

*:hover {
  box-sizing: border-box;
  text-align: center;
}

/* SIDEBAR */
.master-detail-element {
  float: left;
  margin: 10px 0px;
  padding: 20px;
  border: 2px dashed grey;
}

.sidebar {
  width: 25%;
  overflow: scroll;
}

.beer30 {
  color: gray;
}

.image-preview {
  border-style: double;
  border-radius: 600px;
}

img {
  height: 400px;
  width: 250px;
}

.reviews {
  border-style: solid;
}
